.head-container {
  width: 100%;
  /* background: rgba(3,40,53,0.31); */
  /* box-shadow: inset 0 0 25px #0dc2fd; */
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 800;
  margin-top: 5px;
}

.head-container .head_logo {
  width: 100%;
  height: 80px;
  background: url(/static/image/toplogo.png) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center 0;
}

/************ 左侧统计 ***************/

.stat-container * {
  box-sizing: border-box;
}

.stat-container {
  width: 220px;
  position: absolute;
  top: 13%;
  z-index: 1000;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.stat-row {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  border-image-source: url(../image/line1.png);
  border-style: solid;
  border-width: 1px 1px;
  border-image-slice: 1 fill;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.stat-row .row-fgx {
  height: 60%;
  width: 1px
}

.stat-box {
  width: 50%;
  height: 96px;
  margin: 0 auto;
  padding: 10px 5px 5px 5px;
  overflow-x: visible;
  background-color: rgba(2, 48, 65, 0.7);
  position: relative;
}

.stat-box .stat-box-icon {
  margin-left: 40px;
  margin-top: 5px;
  position: absolute;
}

.stat-box .stat-box-icon i {
  font-size: 19px;
  color: rgba(255, 215, 0, 0.6);
}

.stat-box .stat-info {
  /* width: 80px; */
  font-size: 12px;
  color: #dddee1;
  /* margin-left: 20px; */
  text-align: center;
  /* margin-top: 8px; */
  font-weight: bold;
  /* font-family: cursive; */
}

.stat-box .stat-num {
  /* width: 80px; */
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  margin: 25px 0px 0px 0px;
  font-family: fantasy;
}

.stat-num.num-syrk {
  color: #4bf7a5;
}

.stat-num.num-syfw {
  color: #77a6eb;
}

.stat-num.num-sydw {
  color: #02bcef
}

.stat-num.num-syafss {
  color: #81f754;
}

.stat-num.num-syllzb {
  color: #f4a244;
}

.stat-num.num-syjq {
  color: #ee584c;
}

.bubble {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.bubble_list {
  width: 63%;
  height: inherit;
  margin: 0 auto;
  position: relative;
}

.bubble_item {
  border-radius: 50%;
  position: absolute;
  display: table;
}

.bubble_item:nth-child(1) {
  width: 55px;
  height: 55px;
  top: 30px;
  right: 90px;
  background: rgba(227, 150, 60, 0.9);
  z-index: 1;
}

.bubble_item p {
  width: inherit;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  color: #fff;
  font-size: 11px;
}

.bubble_item:nth-child(2) {
  width: 70px;
  height: 70px;
  top: 5px;
  left: 35px;
  background: rgba(7, 150, 62, 0.9);
  z-index: 2;
}

.bubble_item:nth-child(3) {
  width: 40px;
  height: 40px;
  top: 55px;
  left: 100px;
  background: rgba(4, 193, 240, 0.9);
  z-index: 2;
}

.bubble_min {
  background: #eaedfc;
  border-radius: 50%;
  position: absolute;
  opacity: 0.5;
}

.bubble_min:nth-child(1) {
  width: 20px;
  height: 20px;
  top: 100px;
  left: 40px;
}

.bubble_min:nth-child(2) {
  width: 90px;
  height: 90px;
  top: 130px;
  left: 110px;
}

.bubble_min:nth-child(3) {
  width: 50px;
  height: 50px;
  top: 90px;
  left: 180px;
}

.bubble_min:nth-child(4) {
  width: 30px;
  height: 30px;
  top: 250px;
  left: 300px;
}

.bubble_min:nth-child(5) {
  width: 30px;
  height: 30px;
  top: 110px;
  right: 200px;
}

.ani_top_top {
  -webkit-animation-name: ani_bubble_top_top;
  -moz-animation-name: ani_bubble_top_top;
  animation-name: ani_bubble_top_top;
}

.ani_time_8 {
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  animation-duration: 8s;
}

.ani_time_10 {
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  animation-duration: 10s;
}

.ani_time_12 {
  -webkit-animation-duration: 12s;
  -moz-animation-duration: 12s;
  animation-duration: 12s;
}

.ani_auto {
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -moz-animation-fill-mode: both;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@-webkit-keyframes ani_bubble_top_top {
  0%,
  100%,
  50% {
    -webkit-transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(15px);
  }
  75% {
    -webkit-transform: translateY(-15px);
  }
}

@-moz-keyframes ani_bubble_top_top {
  0%,
  100%,
  50% {
    -moz-transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(15px);
  }
  75% {
    -moz-transform: translateY(-15px);
  }
}

@keyframes ani_bubble_top_top {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-300px);
  }
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

@font-face {
  font-family: 'iconfont';
  src: url('../icon/iconfont.eot');
  src: url('../icon/iconfont.eot?#iefix') format('embedded-opentype'), url('../icon/iconfont.woff') format('woff'), url('../icon/iconfont.ttf') format('truetype'), url('../icon/iconfont.svg#iconfont') format('svg');
}

/* .iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
} */

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

/************ 地图操作 ***************/

.operator-container {
  position: absolute;
  top: 50px;
  text-align: center;
  z-index: 900;
  display: block;
  right: 0;
}

.operator-container .operator-ops {
  /* width: 40%; */
  margin-right: 5px;
  color: #0dc2fd;
  /* box-shadow: inset 0 0 11px 0px #0dc2fd; */
  background-color: rgba(2, 48, 65, 0.7);
}

.more-content {
  /* width: 40%; */
  margin-right: 5px;
  color: #0dc2fd;
  text-align: center;
  /* box-shadow: inset 0 0 11px 0px #0dc2fd; */
}

.operator-container .operator-label,
.more-content .operator-label {
  display: inline-block;
  cursor: pointer;
  background-image: url(/static/image/checkbox3_on.png);
  padding: 5px 0px;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center 0;
  font-size: 12px;
  font-weight: 800;
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center 0;
  height: 18px;
  width: 65px;
  text-align: center;
}

.more-content .operator-label {
  margin-left: 5px;
  margin-top: 10px;
}

.operator-container .operator-label.off,
.more-content .operator-label.off {
  color: #595c5e;
  background-image: url(/static/image/checkbox3.png);
}

.operator-container .operator-label.on,
.more-content .operator-label.on {
  background-image: url(/static/image/checkbox3_on.png);
}

.operator-container-left .operator-label.off {
  color: #595c5e;
  background-image: url(/static/image/checkbox1.png);
}

.operator-container-left .operator-label.on {
  background-image: url(/static/image/checkbox1_on.png);
}

.operator-container .operator-content.on {
  animation: operator-show .5s;
  animation-fill-mode: forwards;
}

.operator-container .operator-content.off {
  animation: operator-hide .5s;
  animation-fill-mode: forwards;
}

@keyframes operator-hide {
  0% {
    transform: rotateY(0deg);
    transform-origin: right;
    opacity: 1
  }
  100% {
    transform: rotateY(90deg);
    transform-origin: right;
    opacity: 0;
    width: 0px;
  }
}

@keyframes operator-show {
  0% {
    transform: rotateY(90deg);
    transform-origin: right;
    opacity: 0
  }
  100% {
    transform: rotateY(0deg);
    transform-origin: right;
    opacity: 1
  }
}

.operator-container .operator-title {
  width: 6px;
  background-color: #ffd700;
  margin-right: 6px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.operator-container .operator-radio,
.more-content .operator-radio {
  display: none
}

.operator-container .operator-input,
.more-content .operator-input {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 100%;
  display: inline-block;
  height: 16px;
  margin-right: 10px;
  margin-top: -1px;
  vertical-align: middle;
  width: 16px;
  line-height: 1;
  display: none;
}

.operator-container .operator-radio:checked+.operator-input:after,
.more-content .operator-radio:checked+.operator-input:after {
  background-color: #0869dc;
  border-radius: 100%;
  content: "";
  display: inline-block;
  height: 12px;
  margin: 2px;
  width: 12px
}

.operator-container .operator-checkbox.operator-input,
.more-content .operator-checkbox.operator-input,
.operator-radio:checked+.operator-checkbox.operator-input:after {
  border-radius: 0
}

/************ 右侧菜菜单 ***************/

.detail-container {
  width: 300px;
  position: absolute;
  top: 15%;
  right: 20px;
  z-index: 1000;
}

.detail-tab-container {
  width: 300px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
  /* overflow: hidden; */
}

/* .detail-tab-border {
  border:1px solid #95C9E1;
} */

.detail-menu-box {
  line-height: 28px;
  float: right;
  width: 48px;
  height: 400px;
  /* border-right:1px solid #95C9E1; */
}

.detail-menu-box ul {
  margin: 0px;
  /* padding: 0px; */
  list-style: none;
  position: absolute;
  /* top: 15px; */
  /* left: -5px; */
  margin-left: 12px;
  /* height: 25px; */
  text-align: center;
}

.detail-menu-box li {
  display: block;
  cursor: pointer;
  width: 48px;
  color: #FFFFFF;
  font-family: -webkit-body;
  margin-bottom: 8px;
  height: 48px;
  line-height: 25px;
  /* padding-top: 6px; */
  background-color: rgba(2, 48, 65, 0.8);
  /* border-top-right-radius: 10px 10px; */
  writing-mode: vertical-lr;
  /* letter-spacing: 5px; */
  /* box-shadow: -1px 1px 3px 0px #0dc2fd; */
}

.detail-menu-box li.icon-rlsb {
  background-image: url(../image/icon_rlsb.png);
}

.detail-menu-box li.icon-rlsb.hover {
  background-image: url(../image/icon_rlsb_on.png);
}

.detail-menu-box li.icon-km {
  background-image: url(../image/icon_km.png);
}

.detail-menu-box li.icon-km.hover {
  background-image: url(../image/icon_km_on.png);
}

.detail-menu-box li.icon-gc {
  background-image: url(../image/icon_gc.png);
}

.detail-menu-box li.icon-gc.hover {
  background-image: url(../image/icon_gc_on.png);
}

.detail-menu-box li.icon-wifi {
  background-image: url(../image/icon_wifi.png);
}

.detail-menu-box li.icon-wifi.hover {
  background-image: url(../image/icon_wifi_on.png);
}

.detail-menu-box li.icon-af {
  background-image: url(../image/icon_af.png);
}

.detail-menu-box li.icon-af.hover {
  background-image: url(../image/icon_af_on.png);
}

.detail-menu-box li.icon-bk {
  background-image: url(../image/icon_control.png);
}

.detail-menu-box li.icon-bk.hover {
  background-image: url(../image/icon_control_on.png);
}

/* .detail-menu-box li.hover {
  background-image: linear-gradient(45deg, rgba(230, 11, 84, 0.66), #ff2468);
} */

.detail-content-box {
  margin-top: 0px;
  /* border-top: none; */
  padding: 30px 2px 0px 6px;
  left: 10px;
  height: 400px;
  background-color: rgb(5, 48, 64);
  width: 253px;
  border-image-source: url(../image/line1.png);
  border-style: solid;
  border-width: 1px 1px;
  border-image-slice: 1 fill;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.detail-content-box .con_detail {
  position: relative;
}

.detail-content-box .con_detail .detail-title {
  position: absolute;
  top: -25px;
  color: #dddee1;
}

.detail-content-box .con_detail .detail-banner {
  width: 100%;
  height: 50px;
  font-size: 14px;
  line-height: 1.5rem;
  background-color: rgba(2, 48, 65, 0.7);
  box-shadow: 0px 1px 3px #0dc2fd;
  margin-bottom: 8px;
  /* margin-top: -3px; */
  text-align: center;
  border-top: 2px solid #409eff;
}

.banner-container * {
  box-sizing: border-box;
}

.banner-container {
  width: 100%;
  position: absolute;
  z-index: 1000;
}

.banner-row {
  width: 100%;
  display: flex;
}

.banner-left {
  width: 50%;
  display: inline-block;
  text-align: right;
  color: lightgrey;
  line-height: 1.5rem;
}

.banner-right {
  width: 50%;
  font-family: fantasy;
  display: inline-block;
  color: #00cd47;
  font-size: 20px;
  text-align: left;
}

.banner-num.num-msg {
  color: #4bf7a5;
}

.banner-num.num-similar {
  color: #77a6eb;
}

/************ 右侧菜菜单 - 子菜单 ***************/

.detail-sub-container {
  width: 250px;
  /* border-top: 3px solid #ff2468; */
  /* margin-top: 2px; */
  background-color: rgb(16, 66, 84);
}

.detail-sub-container .detail-sub-menu-box {
  height: 28px;
  line-height: 28px;
  position: relative;
  /* border-bottom: 2px solid rgb(63, 70, 73); */
  background-color: rgba(2, 48, 65, 0.7);
}

.detail-sub-container ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  position: absolute;
  top: 1px;
  left: 0;
  height: 26px;
  text-align: center;
}

.detail-sub-container li {
  float: left;
  display: block;
  cursor: pointer;
  width: 60px;
  color: #FFFFFF;
  font-weight: bold;
  margin-right: 2px;
  height: 25px;
  line-height: 25px;
  background-color: rgb(190, 18, 18, 0);
  font-size: 14px;
  letter-spacing: 3px;
}

.detail-sub-container li.hover {
  background-color: #104254;
  border-top: 2px solid #ff244b;
}

#con_detail_1 .detail-sub-container .detail-sub-content-box {
  padding-top: 8px;
  height: 300px;
  overflow-y: auto;
}

#con_detail_5 .detail-sub-container .detail-sub-content-box {
  padding-top: 8px;
  height: 350px;
  overflow-y: auto;
}

.detail-sub-container .detail-sub-content-box::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

.detail-sub-container .detail-sub-content-box::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: #2b85e4;
}

.detail-sub-container .detail-sub-content-box::-webkit-scrollbar-track {
  border-radius: 1px;
  background: #033447;
}

.can-click:hover {
  cursor: pointer;
}

/************ 右侧菜菜单 - 子菜单 - 人脸 - 抓拍 ***************/

.con_subdetail_face_1_item {
  display: block;
  height: 80px;
}

.con_subdetail_face_1_item .item_avatar {
  width: 80px;
  height: 80px;
  display: block;
  float: left;
}

.con_subdetail_face_1_item .item_avatar img {
  width: 70px;
  height: 70px;
  padding: 0 5px;
}

.con_subdetail_face_1_item .item_info {
  display: block;
  float: left;
  color: #b2bbc1;
  font-size: 14px;
  line-height: 1.5rem;
}

/************ 右侧菜菜单 - 子菜单 - 人脸 - 小区 ***************/

.con_subdetail_face_2_item {
  display: block;
}

.con_subdetail_face_2_item .item-title {
  line-height: 25px;
  height: 25px;
}

.con_subdetail_face_2_item .item-title {
  line-height: 25px;
  height: 25px;
  font-size: 14px;
  color: #FFFFFF;
}

.con_subdetail_face_2_item .item-title i {
  float: left;
  color: #0075c2;
}

.con_subdetail_face_2_item .item-title .item-title-name {
  float: left;
  word-break: keep-all;
  white-space: nowrap;
  width: 125px;
  overflow: hidden;
}

.con_subdetail_face_2_item .item-title .item-title-time {
  float: right;
  color: #cecbcb;
}

.con_subdetail_face_2_item .item-content {
  display: block;
  height: 75px;
  margin-bottom: 5px;
}

.con_subdetail_face_2_item .item_avatar {
  width: 70px;
  height: 70px;
  display: block;
  float: left;
  margin-right: 5px;
}

.con_subdetail_face_2_item .item_avatar img {
  width: 70px;
  height: 70px;
  padding: 0 5px;
}

.con_subdetail_face_2_item .item_info {
  display: block;
  float: left;
  color: #b2bbc1;
  font-size: 14px;
  line-height: 1.5rem;
  margin-left: 5px;
}

.con_subdetail_face_2_item .item_info .item_info_contrast {
  color: gold;
  font-size: 20px;
  margin-bottom: 2px;
}

/************ 右侧菜菜单 - 子菜单 - 人脸 - 报警 ***************/

.con_subdetail_face_3_item {
  display: block;
}

.con_subdetail_face_3_item .item-title {
  line-height: 25px;
  height: 25px;
}

.con_subdetail_face_3_item .item-title {
  line-height: 25px;
  height: 25px;
  font-size: 14px;
  color: #FFFFFF;
}

.con_subdetail_face_3_item .item-title i {
  float: left;
  color: #0075c2;
}

.con_subdetail_face_3_item .item-title .item-title-name {
  float: left;
  word-break: keep-all;
  white-space: nowrap;
  width: 125px;
  overflow: hidden;
}

.con_subdetail_face_3_item .item-title .item-title-time {
  float: right;
  color: #cecbcb;
}

.con_subdetail_face_3_item .item-content {
  display: block;
  height: 75px;
  margin-bottom: 5px;
}

.con_subdetail_face_3_item .item_avatar {
  width: 70px;
  height: 70px;
  display: block;
  float: left;
  margin-right: 5px;
}

.con_subdetail_face_3_item .item_avatar img {
  width: 70px;
  height: 70px;
  padding: 0 5px;
}

.con_subdetail_face_3_item .item_info {
  display: block;
  float: left;
  color: #b2bbc1;
  font-size: 14px;
  line-height: 1.5rem;
  margin-left: 5px;
}

.con_subdetail_face_3_item .item_info div {
  word-break: keep-all;
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
}

.con_subdetail_face_3_item .item_info .item_info_contrast {
  color: gold;
  font-size: 20px;
  margin-bottom: 2px;
}

/************ 右侧菜菜单 - 开门 ***************/

#con_detail_2 .con_door {
  display: block;
  overflow-y: auto;
  height: 375px;
  border-top: 1px solid tomato;
}

.con_door .item_avatar {
  width: 80px;
  height: 90px;
  display: block;
  float: left;
}

.con_door .item_avatar img {
  width: 85px;
  /* height: 90px; */
  padding: 5px 0px;
}

#con_detail_2 .con_door .con_door_item {
  display: flex;
}

#con_detail_2 .con_door .con_door_item .item_info {
  padding: 0px 0px 15px 10px;
}

#con_detail_2 .con_door .con_door_item div {
  display: block;
  color: #b2bbc1;
  font-size: 14px;
  line-height: 1.1rem;
  margin-top: 1px;
}

#con_detail_2 .con_door .con_door_item .item_info div {
  text-align: left;
}

#con_detail_2 .con_door::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

#con_detail_2 .con_door::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: #2b85e4;
}

#con_detail_2 .con_door::-webkit-scrollbar-track {
  border-radius: 1px;
  background: #033447;
}

#con_detail_2 .con_door_item i {
  display: inline-block;
  color: #0075c2;
}

/************ 右侧菜菜单 - 过车 ***************/

#con_detail_3 .con_vehicle_pass {
  display: block;
  height: 400px;
}

#con_detail_3 .con_vehicle_pass_stat {
  width: 100%;
  height: 105px;
  font-size: 14px;
  padding-top: 10px;
  line-height: 1.5rem;
  background-color: rgba(2, 48, 65, 0.7);
  box-shadow: 0px 1px 3px #0dc2fd;
  margin-bottom: 8px;
  margin-top: -3px;
  text-align: center;
  border-top: 2px solid #409eff;
}

#con_detail_3 .con_vehicle_pass_stat .con_vehicle_pass_stat_total {
  display: block;
  color: #FFFFFF;
}

#con_detail_3 .con_vehicle_pass_stat .con_vehicle_pass_stat_left {
  width: 40%;
  display: inline-block;
  text-align: right;
  color: lightgrey;
  line-height: 1.5rem;
}

#con_detail_3 .con_vehicle_pass_stat .con_vehicle_pass_stat_center {
  width: 17%;
  display: inline-block;
  color: #00cd47;
  font-size: 16px;
  text-align: right;
}

#con_detail_3 .con_vehicle_pass_stat .con_vehicle_pass_stat_right {
  width: 33%;
  display: inline-block;
  color: #e0c85c;
  font-size: 14px;
}

#con_detail_3 .con_vehicle_pass_record {
  display: block;
  overflow-y: auto;
  height: 275px;
}

#con_detail_3 .con_vehicle_pass_record::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

#con_detail_3 .con_vehicle_pass_record::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: #2b85e4;
}

#con_detail_3 .con_vehicle_pass_record::-webkit-scrollbar-track {
  border-radius: 1px;
  background: #033447;
}

#con_detail_3 .con_vehicle_pass_record_item {
  height: 72px;
  margin-bottom: 6px;
}

#con_detail_3 .con_vehicle_pass_record_item .item_photo {
  width: 128px;
  height: 72px;
  display: inline-block;
}

#con_detail_3 .con_vehicle_pass_record_item .item_photo img {
  width: 128px;
  height: 72px;
  display: inline-block;
}

#con_detail_3 .con_vehicle_pass_record_item .item_info {
  display: block;
  float: right;
  height: 70px;
  width: 108px;
  color: #cecbcb;
  font-size: 14px;
  line-height: 1.2rem;
}

#con_detail_3 .item_info .item_info_plate {
  color: whitesmoke;
  font-size: 16px;
  padding: 3px 0;
  margin-bottom: 6px;
  /* margin-top: 3px; */
  font-family: monospace;
  background-color: #0a5eef;
  text-align: center;
  width: 100px;
}

#con_detail_3 .item_info .item_info_plate_yellow {
  color: black !important;
  background-color: #ef910a;
}

#con_detail_3 .item_info .item_info_plate_white {
  color: black !important;
  background-color: #dddddd;
}

#con_detail_3 .item_info .item_info_plate_green {
  color: black !important;
  background-color: #3fdc4a;
}

#con_detail_3 .item_info .item_info_status_entry {
  background-color: #00cd47 !important;
}

#con_detail_3 .item_info .item_info_status {
  color: #FFFFFF;
  background-color: #f12608;
  width: 29px;
  height: 20px;
  line-height: 20px;
  padding: 0px 5px;
  display: inline-block;
}

#con_detail_3 .item_info .item_info_clly {
  color: #FFFFFF;
  width: 29px;
  height: 20px;
  line-height: 20px;
  padding: 0px 5px;
  display: inline-block;
  margin-left: 10px;
}

#con_detail_3 .item_info .item_info_clly_xq {
  color: black !important;
  background-color: #ef910a;
}

#con_detail_3 .item_info .item_info_clly_xq:hover {
  cursor: pointer;
}

/************ 右侧菜菜单 - WIFI ***************/

#con_detail_4 .con_wifi_records {
  display: block;
  color: #FFFFFF;
}

#con_detail_4 .con_wifi_operator {
  height: 25px;
  line-height: 25px;
  /* box-shadow: 0px 1px 3px 0px #0dc2fd; */
  box-shadow: 0px 0px 1px 0px #0dc2fd;
}

#con_detail_4 .con_wifi_more {
  float: right;
  margin-right: 5px;
  color: #cecbcb;
  font-size: 14px;
}

#con_detail_4 .con_wifi_items {
  display: block;
  height: 380px;
  overflow-y: auto;
  font-size: 14px;
}

#con_detail_4 .con_wifi_items::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

#con_detail_4 .con_wifi_items::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: #2b85e4;
}

#con_detail_4 .con_wifi_items::-webkit-scrollbar-track {
  border-radius: 1px;
  background: #033447;
}

#con_detail_4 .con_wifi_items .con_wifi_item {
  height: 80px;
  line-height: 1.8rem;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #cecbcb;
}

#con_detail_4 .con_wifi_items .con_wifi_item_left {
  width: 25%;
  display: inline-block;
  text-align: right;
}

#con_detail_4 .con_wifi_items .con_wifi_item_right {
  width: 65%;
  display: inline-block;
  text-align: left;
}

#con_detail_4 .con_wifi_items .word_break {
  word-break: keep-all;
  white-space: nowrap;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
}

/*********** 消防 - 消防栓 ******************/

#con_subdetail_xf_1 .con_xf_xfs_record_item {
  height: 72px;
  margin-bottom: 6px;
  font-size: 14px;
}

#con_subdetail_xf_1 .con_xf_xfs_record_item i {
  float: left;
  display: block;
  color: #F61653;
  margin-top: 3px;
}

#con_subdetail_xf_1 .con_xf_xfs_record_item .item_photo {
  width: 100px;
  height: 72px;
  display: inline-block;
}

#con_subdetail_xf_1 .con_xf_xfs_record_item .item_photo img {
  width: 100px;
  height: 72px;
  display: inline-block;
}

#con_subdetail_xf_1 .con_xf_xfs_record_item .item_info {
  display: block;
  float: left;
  height: 70px;
  width: 118px;
  color: #cecbcb;
  font-size: 14px;
  line-height: 1.2rem;
}

#con_subdetail_xf_1 .item_info .item_info_name {
  color: whitesmoke;
  margin-bottom: 6px;
  margin-top: 3px;
  font-family: monospace;
  text-align: left;
  width: 110px;
  /* word-break: keep-all;
  white-space: nowrap; */
  overflow: hidden;
}

#con_subdetail_xf_1 .item_info .item_info_status {
  color: #FFFFFF;
  background-color: #00cd47;
  width: 29px;
  height: 20px;
  line-height: 20px;
  padding: 0px 5px;
}

#con_subdetail_xf_1 .item_info .item_info_status_success {
  background-color: #00cd47;
}

#con_subdetail_xf_1 .item_info .item_info_status_error {
  background-color: #F61653;
}

/*********** 消防 - 窨井盖 ******************/

#con_subdetail_xf_2 .con_xf_yjg_record_item {
  height: 72px;
  margin-bottom: 6px;
  font-size: 14px;
}

#con_subdetail_xf_2 .con_xf_yjg_record_item i {
  float: left;
  display: block;
  color: #F61653;
  margin-top: 3px;
}

#con_subdetail_xf_2 .con_xf_yjg_record_item .item_photo {
  width: 100px;
  height: 72px;
  display: inline-block;
}

#con_subdetail_xf_2 .con_xf_yjg_record_item .item_photo img {
  width: 100px;
  height: 72px;
  display: inline-block;
}

#con_subdetail_xf_2 .con_xf_yjg_record_item .item_info {
  display: block;
  float: left;
  height: 70px;
  width: 118px;
  color: #cecbcb;
  font-size: 14px;
  line-height: 1.2rem;
}

#con_subdetail_xf_2 .item_info .item_info_name {
  color: whitesmoke;
  margin-bottom: 6px;
  margin-top: 3px;
  font-family: monospace;
  text-align: left;
  width: 110px;
  /* word-break: keep-all;
  white-space: nowrap; */
  overflow: hidden;
}

#con_subdetail_xf_2 .item_info .item_info_status {
  color: #FFFFFF;
  width: 29px;
  height: 20px;
  line-height: 20px;
  padding: 0px 5px;
}

#con_subdetail_xf_2 .item_info .item_info_status_success {
  background-color: #00cd47;
}

#con_subdetail_xf_2 .item_info .item_info_status_error {
  background-color: #F61653;
}

/*********** 消防 - 烟雾感应 ******************/

#con_subdetail_xf_3 .con_xf_ywgy_record_item {
  height: 102px;
  margin-bottom: 6px;
  font-size: 14px;
}

#con_subdetail_xf_3 .con_xf_ywgy_record_item i {
  float: left;
  display: block;
  color: #F61653;
}

#con_subdetail_xf_3 .con_xf_ywgy_record_item .item_info {
  display: block;
  float: left;
  height: 120px;
  width: 218px;
  color: #cecbcb;
  font-size: 14px;
  line-height: 1.2rem;
  padding-left: 10px;
}

#con_subdetail_xf_3 .item_info .item_info_name {
  color: whitesmoke;
  margin-bottom: 6px;
  margin-top: 3px;
  font-family: monospace;
  text-align: left;
  width: 100%;
  /* word-break: keep-all;
  white-space: nowrap; */
  overflow: hidden;
}

#con_subdetail_xf_3 .item_info .item_info_status {
  color: #FFFFFF;
  background-color: #00cd47;
  width: 29px;
  height: 20px;
  line-height: 20px;
  padding: 0px 5px;
}

#con_subdetail_xf_3 .item_info .item_info_status_success {
  background-color: #00cd47;
}

#con_subdetail_xf_3 .item_info .item_info_status_error {
  background-color: #F61653;
}

/************ 右侧菜菜单 - 布控报警 ***************/

#con_detail_6 .con_control {
  display: block;
  overflow-y: auto;
  height: 375px;
  border-top: 1px solid tomato;
}

#con_detail_6 .con_control .con_control_item .item_info {
  padding: 0px 0px 20px 20px;
}

#con_detail_6 .con_control .con_control_item div {
  text-align: left;
  line-height: 1.5rem;
  font-size: 14px;
  color: #b2bbc1
}

#con_detail_6 .con_control::-webkit-scrollbar {
  width: 6px;
  height: 2px;
}

#con_detail_6 .con_control::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: #2b85e4;
}

#con_detail_6 .con_control::-webkit-scrollbar-track {
  border-radius: 1px;
  background: #033447;
}

#con_detail_6 .con_control_item i {
  display: inline-block;
  color: #F61653;
}

/******* 地图颜色覆盖 **********/

.imap-popup-content-wrapper,
.imap-popup-tip {
  background: rgba(20, 65, 170, 0.7);
  box-shadow: 3px 4px 9px 2px #0075c2;
}

.imap-window {
  background-color: transparent;
  color: #FFFFFF;
}

.imap-overlay-pane {
  z-index: 800;
}

.imap-label {
  border: 0px;
  background: rgba(255, 255, 255, 0);
}

/************** INFOWINDOW 样式 *****************************/

.infowindow-container {
  width: 280px;
}

.infowindow-container .infowindow-title {
  position: relative;
  background-color: rgba(20, 65, 170, 0.8);
  border-bottom: 1px solid #CCC;
  border-radius: 5px 5px 0 0;
}

.infowindow-container .infowindow-title-content {
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 31px;
  padding: 0 10px;
}

.infowindow-container .infowindow-title-close {
  position: absolute;
  top: 5px;
  right: 10px;
  transition-duration: 0.25s;
  color: #FFFFFF;
}

.infowindow-container .infowindow-content {
  font-size: 12px;
  padding: 6px;
  line-height: 20px;
  background-color: rgba(20, 65, 170, 0.8);
  height: 97px;
  color: #FFFFFF;
}

.infowindow-container .infowindow-content-image {
  float: left;
  margin-right: 10px;
  width: 80px;
  height: 98px;
}

.infowindow-container .infowindow-marker {
  height: 0px;
  width: 100%;
  clear: both;
  text-align: center;
  position: relative;
  top: -18px;
  margin: 0px auto;
}

.infowindow-container .infowindow-marker i {
  font-size: 32px;
  color: rgba(20, 65, 170, 0.7);
}

/************** 动态感知窗样式 *****************************/

.dynamic-container {
  background-image: url("/static/image/marker_dynamic_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  width: 200px;
}

.dynamic-container .dynamic-title {
  position: relative;
  /* background-color: rgba(20, 65, 170, 0.7); */
  /* border-bottom: 1px solid #CCC; */
  border-radius: 5px 5px 0 0;
}

.dynamic-container .dynamic-title-content {
  display: inline-block;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 31px;
  padding: 0 10px;
}

.dynamic-container .dynamic-title-close {
  position: absolute;
  top: 5px;
  right: 10px;
  transition-duration: 0.25s;
  color: #FFFFFF;
}

.dynamic-container .dynamic-title-close:hover {
  cursor: pointer;
}

.dynamic-container .dynamic-content {
  font-size: 12px;
  padding: 0px 6px 8px;
  line-height: 20px;
  /* background-color: rgba(20, 65, 170, 0.7); */
  height: 80px;
  color: #FFFFFF;
  margin-left: 8px;
  margin-top: -3px;
}

.dynamic-container .dynamic-content-image {
  float: left;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  border-radius: 3px;
  box-shadow: 0 0 0px 1px rgb(8, 181, 255)
}

.dynamic-container .dynamic-content-info {
  white-space: normal;
}

.dynamic-container .dynamic-marker {
  height: 0px;
  width: 100%;
  clear: both;
  text-align: center;
  position: relative;
  top: -18px;
  margin: 0px auto;
}

.dynamic-container .dynamic-marker i {
  font-size: 32px;
  color: rgba(20, 65, 170, 0.7);
}

/********* 图片详情对话框 ******************************/

.layui-layer {
  background-color: rgba(42, 61, 93, 0.8);
}

.dialog-face-msg-container {
  padding: 25px 0px 15px 20px;
}

.dialog-face-msg-container .img-1 {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.dialog-face-msg-container .img-1 img {
  width: 200px;
}

.dialog-face-msg-container .img-2 {
  display: inline-block;
  width: 356px
}

.dialog-face-msg-container .img-2 img {
  width: 356px
}

.dialog-face-similar-container {
  padding: 25px 0px 15px 20px;
}

.dialog-face-similar-container .img-1 {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-right: 10px;
}

.dialog-face-similar-container .img-1 img {
  width: 200px;
}

.dialog-face-similar-container .img-2 {
  display: inline-block;
  width: 163px;
  height: 200px;
  margin-right: 10px;
}

.dialog-face-similar-container .img-2 img {
  width: 163px;
  height: 200px;
}

.dialog-face-similar-container .img-3 {
  display: inline-block;
  height: 200px;
  width: 356px;
}

.dialog-face-similar-container .img-3 img {
  height: 200px;
  width: 356px;
}

.dialog-face-similar-container .msg-1 {
  display: inline-block;
  width: 200px;
  height: 80px;
  margin-right: 10px;
  text-align: left;
  font-size: 14px;
  color: #FFFFFF;
  padding-top: 10px;
  line-height: 1.4rem;
}

.dialog-face-similar-container .msg-1 span {
  margin-left: 3px;
  margin-right: 5px;
}

.dialog-face-similar-container .msg-2 {
  display: inline-block;
  width: 260px;
  height: 80px;
  margin-right: 10px;
  text-align: left;
  font-size: 14px;
  color: #FFFFFF;
  padding-top: 10px;
  line-height: 1.4rem;
}

.dialog-face-similar-container .msg-3 {
  display: inline-block;
  width: 200px;
  height: 80px;
  margin-right: 10px;
  text-align: left;
  font-size: 14px;
  color: #FFFFFF;
  padding-top: 10px;
  line-height: 1.4rem;
}

.dialog-vehicle-pass-container {
  width: 100%;
  height: 100%;
}

.dialog-vehicle-pass-container img {
  /* width: 100%; */
  height: 100%;
}

.dialog-vehicle-owner-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.dialog-vehicle-owner-container * {
  box-sizing: border-box;
}

.dialog-vehicle-owner-container .img {
  width: 256px;
  height: 144px;
  padding: 10px;
  display: inline-block;
}

.dialog-vehicle-owner-container img {
  width: 100%;
  height: 100%;
}

.dialog-vehicle-owner-container .msg {
  font-size: 14px;
  color: white;
  line-height: 1.65rem;
  padding: 10px;
  display: inline-block;
}

.icon-custom {
  color: #00AFFF;
}

.layer-custom {
  background-color: rgba(42, 61, 93, 0.75);
}

.layer-custom .layui-layer-content {
  text-align: center;
  overflow: hidden;
}

/* ******车辆****** */

/* .vehicle-container * {
  box-sizing: border-box;
} */

.vehicle-container {
  position: absolute;
  width: 100%;
  height: 115px;
  bottom: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.vehicle-container .vehicle-box {
  width: 45%;
  z-index: 1000;
}

.vehicle-container .vehicle-box .box-title {
  height: 25px;
  background-color: rgba(2, 48, 65, 0.7)
}

.vehicle-container .vehicle-box .box-footer {
  height: 25px;
  background-color: rgba(2, 48, 65, 0.7)
}

.vehicle-container .vehicle-box .box-content {
  height: calc(100% - 25px);
  background-color: rgba(5, 48, 64, .8);
  padding-top: 10px;
  border-image-source: url(../image/line1.png);
  border-style: solid;
  border-width: 1px 1px;
  border-image-slice: 1 fill;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.dg-container {
  width: 100%;
  position: relative;
}

.dg-wrapper {
  width: 130px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}

.dg-wrapper a {
  width: 150px;
  height: 70px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0px 5px 10px rgba(33, 150, 243, 0.8);
}

.dg-wrapper a.dg-transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.dg-wrapper a img {
  display: block;
  width: 150px;
  /* height: 90px; */
}

.dg-wrapper a div {
  text-align: center;
  color: rgb(40, 190, 247);
  font-size: 16px;
  width: 100%;
  display: none;
  margin-top: 10px;
}

.dg-wrapper a.dg-center div {
  display: block;
}

/**** 终端操作 ****/

.data-contents-height {
  box-sizing: border-box;
  width: 253px;
  height: 140px;
  z-index: 1000;
  position: absolute;
  bottom: 10px;
  right: 60px;
}

.mobile-ranking-list {
  /* background: rgba(29,51,121,.5); */
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 16px 8px rgba(3, 2, 8, .1);
}

.user-behavior-line {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.user-behavior-line b:first-child {
  padding-top: 0px;
}

.user-behavior-line b {
  border-bottom: 1px dashed #4368c7;
  padding: 22px 0;
  height: 1px;
  width: 100%;
  display: block;
}

.user-behavior-line span {
  position: absolute;
  bottom: 1px;
  width: 30px;
  border-radius: 4px 4px 0 0;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
}

.mobile-user-behavior ol {
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

.mobile-user-behavior ol li {
  padding: 0 10px;
  color: rgba(255, 255, 255, .7);
  display: flex;
  align-items: center;
  font-size: 12px;
}

.mobile-user-behavior ol li i {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  margin-right: 4px;
  background: #3690ff;
}

/************** 小区简介样式 *****************************/

.intro {
  width: 188px;
  height: 296px;
  position: absolute;
  top: 14%;
  left: 240px;
  background: url(../image/pm_bg.png) no-repeat;
  background-size: 100% 100%;
  z-index: 800;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  text-indent: 25px;
  line-height: 25px;
}

.int_title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: gold;
}

.int_font {
  line-height: 30px;
  color: #03b7f4;
  font-weight: 700;
}

/************** 更多图层样式 *****************************/

.more {
  width: 188px;
  height: 296px;
  position: absolute;
  top: 14%;
  left: 240px;
  background: url(../image/pm_bg.png) no-repeat;
  background-size: 100% 100%;
  z-index: 800;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
}

.more_title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: gold;
}
